<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <h1 style="border-bottom:2px solid {{actorColor}};"><input type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>
    
    <section class="sheet-body">
        <p >Hey that not funny :C.</p>
        <button type="button" class="btn btn-primary">Primary</button>
    </section>
</form>